@using OnlineShop.Data.Models;
@model IEnumerable<Items>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <h2>All Items</h2>
    @{ foreach ( var item in Model)
        {
            <div>
                <h2>@item.id: @item.name</h2>
                <p>@item.isFavourite</p>
                <p>Price: @item.price.ToString("c")</p>
            </div>
        }
    }
</body>
</html>
