@using OnlineShop.Data.ViewModels
@model CartViewModel
<div>
    @foreach(var el in Model.cart.GetCartItems())
            {
                <div>
                    <b>Item</b>@el.longDesc<br />
                    <b>Price</b>@el.price.ToString("c")
                </div>
            }
</div>

