body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 15px;
    color: #333;
    margin: 0px 0px 0px 0px;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
/*/////////////////////////*/

.wrapper {
    min-height: 100%;
}

/* ///CART ITEMS/// */

.empty_cart {
    height: 110px;
    width: auto;
    padding: 40px 60px;
    font-size: 20px;
    position: absolute;
    opacity: 0;
}


#cart_list {
    display: flex;
    min-height: 80%
}

.inner-item {
    margin-left: 5%;
    width: 90%;
    min-width: 100px;
    position: absolute;
    z-index: 0;
    height: 110px;
    background-color: #efefef;
    border-radius: 10px;
}

.item {
    background: #fff;
    margin: 0 20px 20px 0;
    text-decoration: none;
    color: #474747;
    display: block;
    height: 110px;
    width: 100%;
}

.item-wrapper {
    display: block;
    margin: 7px;
    float: left;
    transition: .2s;
    height: auto;
    min-height: 100px;
}

.item_img {
    position: relative;
    z-index: 0;
    padding: 10px 10px 13px 10px;
    float: left;
}

    .item_img img {
        height: 80px;
        width: 110px;
    }

.long_desk {
    font-size: 16px;
    padding: 26px 5px 4px 20px;
    position: relative;
    padding-left: 20px;
    letter-spacing: 1px;
    font-family: sans-serif;
    float: left;
}

/* ///CART ITEMS///*/

/* ///CART BUTTONS/// */

.price_place {
    float: right;
    width: 360px;
}

#plus {
    float: right;
    margin-top: 3px;
}

#minus {
    float: left;
    margin-top: 3px;
}

#counter {
    width: 90px;
    margin: 40px 20px;
    float: left;
}

#amount {
    width: 38px;
    height: 27px;
    margin: 0px 0px 3px;
    text-align: center;
    font-size: 18px;
    background-color: #efefef;
    border-style: none;
}

#price {
    margin: 40px 0px 0px 0px;
    float: right;
    width: 140px;
    height: 40px;
    font-size: 22px;
    color: red;
    font-weight: 100;
}



/* ///CART BUTTONS/// */

/* ///FAVOURITE LIST/// */
/* ///FAVOURITE LIST/// */

/* ///VIEWED/// */
/* ///VIEWED/// */

/* ///FOOTER/// */


footer {
    position: sticky;
    bottom: 10px;
    height: 140px;
}

.footer_content {
    height: 180px;
    background-color: #878787
}


.sum_place {
    float: left;
    width: 70%;
    padding-bottom: 50px;
}


.sum_text {
    color: azure;
    text-align: left;
    margin-left: 150px
}

#sum_price {
    padding: 30px;
}


.buy-btn {
    margin: 30px 60px 0px 0px;
    float: right;
    width: 280px;
    height: 80px;
    border-radius: 30px;
    font-size: 25px;
}

    .buy-btn:hover {
        background-color: #2D6F1E;
        border-color: #2D6F1E;
        transition: all .4s;
    }

.btn {
    background-color: #3AA32F;
    font-family: inherit;
    color: aliceblue;
    text-align: center;
    vertical-align: middle;
    border-color: #3AA32F;
    border-style: hidden;
}



/* ///FOOTER/// */
